body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  font-family: "Ubuntu Mono", monospace;
}

.App header,
.App footer {
  padding: 3em 0;
  font-size: 0.75em;
  max-width: 35rem;

  display: flex;
  justify-content: space-between;
}

.App footer .right {
  text-align: right;
  /* align-self: flex-end; */
  white-space: pre-wrap;
}

.workspace {
  font-family: "Ubuntu Mono", monospace;
  max-width: 35rem;
  line-height: 1.5rem;
  color: rgb(166, 166, 166);
}

.Letter.correct {
  color: rgb(30, 30, 30);
}

.Letter.incorrect {
  color: white;
  background-color: rgb(141, 0, 0);
}

.Letter.current {
  border-bottom: 2px solid;
}
